<h1>Possíveis horários para o período requerido</h1>
<% unless @slots.nil? or @slots.empty? %>
<table>
  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= slot.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
	<h1>Nenhum horário encontrado!</h1>
<% end %>